<!-- Adicionado trajeto nos links-->
<div class="row mt-3" >
        <div class="col-md-4">        
            <figure class="figure mx-4">
                <img src="~/img/AGENDA.png" class="figure-img img-fluid " alt="Agenda de Eventos">
                <figcaption class="figure-caption text-center">
                    <a href="#" data-toggle="modal" data-target="#ModalAgenda">
                        Agenda de Eventos
                    </a> 
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">        
            <figure class="figure mx-4">
                <img src="~/img/DICAS.png" class="figure-img img-fluid " alt="Dicas de vida saudável">
                <figcaption class="figure-caption text-center">
                    <a href="#" data-toggle="modal" data-target="#ModalDicas">
                        Dicas de vida saudável
                    </a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
              <figure class="figure mx-4">
                <img src="~/img/APOIADORES.png" class="figure-img img-fluid " alt="Apoiadores...">
                <figcaption class="figure-caption text-center">
                    <a href="#" data-toggle="modal" data-target="#ModalApoiadores">
                        Apoiadores
                    </a>
                </figcaption>
            </figure>
        </div>
    </div>

<!-- Adicionado modal para o Pop-Up dos links -->
<!-- ModalAgenda -->
<div class="modal fade" id="ModalAgenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalAgendaLabel">Agenda de Eventos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5">
        <ul>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            <li>Mauris ut velit pretium, feugiat dui in, consequat magna.
            </li>
            <li>Mauris ut velit pretium, feugiat dui in, consequat magna.
            </li>
            <li>Mauris ut velit pretium, feugiat dui in, consequat magna.
            </li>
            <li>Mauris ut velit pretium, feugiat dui in, consequat magna.
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ModalDicas -->
<div class="modal fade" id="ModalDicas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalDicasLabel">Dicas de vida saudável</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dui enim, imperdiet acefficitur elementum, venenatis aliquam metus. Nam auctor, arcu at tincidunt ornare, augue leo mollis purus, a maximus enim augue quis risus. 
        </p>              
        </p>
            Nunc bibendum neque id lacus mollis placerat. Fusce faucibus nisl nec sem lobortis, sit amet maximus nisl finibus. Ut vel sapien at ipsum vestibulum finibus venenatis ac nibh. Etiam in hendrerit erat, sed egestas risus.              
        <p>
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
            Praesent facilisis lorem at purus viverra, eget malesuada nulla interdum. Morbi sodales elit nunc, ac accumsan odio tincidunt non. Pellentesque vel maximus arcu. Sed libero eros, iaculis et aliquet sit amet, fringilla egestas nibh. Aenean lobortis sed felis at tempor.
        </p>    
      </div>
    </div>
  </div>
</div>

<!-- ModalApoiadores -->
<div class="modal fade" id="ModalApoiadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalApoiadoresLabel">Apoiadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5">
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-8 col-sm-6">
                            <img src="~/img/empresaX.png" class="img-fluid" />
                        </div>
                        <div class="col-4 col-sm-6 mt-5">
                            <h4>Empresa X</h4>
                            <p>Descrição</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-3">
                    <div class="col-8 col-sm-6">
                        <img src="~/img/empresaY.png" class="img-fluid" />
                    </div>
                    <div class="col-4 col-sm-6 mt-5">
                        <h4>Empresa Y</h4>
                        <p>Descrição</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-8 col-sm-6">
                            <img src="~/img/empresaz.png" class="img-fluid" />
                        </div>
                        <div class="col-4 col-sm-6 mt-5">
                            <h4>Empresa Z</h4>
                            <p>Descrição</p>
                        </div>
                    </div>
                </div>
            </div>   
                        <div class="row">
                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-8 col-sm-6">
                            <img src="~/img/empresaW.png" class="img-fluid" />
                        </div>
                        <div class="col-4 col-sm-6 mt-5">
                            <h4>Empresa W</h4>
                            <p>Descrição</p>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
      </div>
    </div>
  </div>
</div>